@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

/* GENERALS */
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

ul {
  display: flex;
}

.row {
  width: 100%;
  max-width: 1300px;
  padding: 20px;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.no__cursor {
  cursor: no-drop;
}

html {
  scroll-behavior: smooth;
}

.purple {
  color: #6415ff;
}

p {
  line-height: 1.5;
}

.logo {
  width: 160px;
}

/* NAV */

nav {
  height: 80px;
  display: flex;
  max-width: 1300px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 12px;
}

.nav__container {
  width: 100%;
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav__links {
  display: flex;
}

.nav__link {
  margin-left: 16px;
  text-decoration: none;
  font-size: 16px;
  color: black;
  padding: 8px;
  transition: all 300ms ease;
  cursor: pointer;
}

.nav__link--main {
  border: 2px solid #6415ff;
  border-radius: 32px;
  padding: 12px 24px;
  background-color: #6415ff;
  color: white;
}

.login__link {
  margin-left: 32px;
}

.nav__link--supplemental {
  transition: all 300ms ease;
}

.nav__link--hover {
  position: relative;
  transition: all 300ms ease;
}

.nav__link--supplemental:hover {
  color: #542aa7;
  font-weight: bold;
}

.nav__link--hover--main {
  transition: all 300ms ease;
}

.nav__link--hover--main:hover {
  background-color: #542aa7;
}

.nav__link--hover:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  bottom: -3px;
  right: 0px;
  transition: all 300ms ease;
  background-color: #542aa7;
}

.nav__link--hover:hover:after {
  width: 100%;
  left: 0;
}

/* LANDING */

.landing {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 12px;
  height: calc(100vh - 80px);
}

.landing__description {
  width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.landing__header {
  font-size: 44px;
  max-width: 80%;
  margin-top: 100px;
  margin-bottom: 20px;
}

.landing__subheader {
  font-size: 20px;
  margin-bottom: 40px;
}

.landing__email--wrapper {
  width: 100%;
  margin-bottom: 100px;
}

.landing__email--form {
  border: 1px solid #aaa6a6;
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  width: 90%;
  padding: 5px;
  transition: all 300ms ease;
}

.landing__email--form:hover {
  border: 1px solid #474545;
}

.landing__email--form:focus {
  border: 1px solid #542aa7;
}

.landing__email--input {
  border: none;
  outline: none;
  background: transparent;
  flex-grow: 2;
  padding-left: 20px;
}

.landing__email--btn {
  border: 1px solid #6415ff;
  border-radius: 40px;
  background-color: #6415ff;
  color: white;
  font-weight: bold;
  padding: 10px;
  transition: all 300ms ease;
}

.landing__email--btn:hover {
  cursor: pointer;
  background-color: #542aa7;
}

.landing__trustedline {
  color: grey;
  font-weight: bold;
}

.landing__customers--wrapper {
  margin-left: -10px;
  margin-top: 0px;
}

.landing__customers--img {
  width: 80%;
}

.landing__img--wrapper {
  width: 60%;
}

.landing__img {
  width: 100%;
}

/* FEATURES */

#features {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 40px);
}

.features__header--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.features__title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.features__header {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}

.features__description {
font-size: 16px;
max-width: 50%;
color: grey;
}

.features__feature--wrapper {
  display: flex;
  flex-wrap: wrap;
}

.features__feature {
  max-width: calc(100% / 3);
  margin: auto 0;
  padding: 20px;
}

.feature__icon {
 border: 1px solid lightgrey;
 border-radius: 40px;
 font-size: 40px;
 padding: 16px;
}

.features__feature--title {
  font-size: 20px;
  font-weight: bold;
  margin-left: 16px;
}

.features__feature--description {
  color: grey;
  max-width: 80%;
  margin-top: 20px;
}

/* Quality Work */

