@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

/* GENERALS */
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

ul {
  display: flex;
}

.row {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.no__cursor {
  cursor: no-drop;
}

html {
  scroll-behavior: smooth;
}

.purple {
  color: #6415ff;
}

p {
  line-height: 1.5;
}

.logo {
  width: 160px;
}

/* NAV */

nav {
  height: 80px;
  display: flex;
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 12px;
}

.nav__container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav__links {
  display: flex;
}

.nav__link {
  margin-left: 16px;
  text-decoration: none;
  font-size: 16px;
  color:black;
  padding: 8px;
  transition: all 300ms ease;
  cursor: pointer;

}

.nav__link--main {
  border: 2px solid #6415ff;
  border-radius: 32px;
  padding: 12px 24px;
  background-color:#6415ff;
  color: white;
}

.login__link {
  margin-left: 32px;
}

.nav__link--supplemental {
  transition: all 300ms ease;
}

.nav__link--hover {
  position: relative;
  transition: all 300ms ease;
}

.nav__link--supplemental:hover {
  color:#542aa7;
  font-weight: bold;
}

.nav__link--hover--main {
  transition: all 300ms ease;
}

.nav__link--hover--main:hover {
  background-color: #542aa7;
}

.nav__link--hover:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  bottom: -3px;
  right: 0px;
  transition: all 300ms ease;
  background-color: #542aa7;
}

.nav__link--hover:hover:after {
  width: 100%;
  left: 0;
}

/* LANDING */

.landing {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 12px;
}

.landing__description {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.landing__header {
  font-size: 50px;
  max-width: 80%;
  margin-top: 100px;
  margin-bottom: 20px;
}

.landing__subheader {
  font-size: 20px;
  margin-bottom: 40px;
}

.landing__email--wrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 60px;
}

.landing__email {
  border: 1px solid #747171;
  border-radius: 100px;
  padding: 15px 50% 15px 15px;
  width: 100%;
  position: absolute;
}

.landing__email--btn {
  border: 1px solid #542aa7;
  border-radius: 100px;
  background-color: #542aa7;
  color: white;
  padding: 10px 20px;
  position: absolute;
  margin-top: 5px;
  margin-left: 79%;
  margin-bottom: 5px;
  margin-right:5px;
}

.landing__customers--wrapper {
  margin-top: 40px;
}

.landing__customers--img {
  width: 100%;
}

.landing__img--wrapper {
  width: 1200px;
}

.landing__img {
  width: 100%;
}